<div class="hero-unit">
  <h1>The page tracker</h1>
  <p>Analyse and control content of your homepage.</p>
  <p>
    <%= link_to "List Domains", domains_path, class: "btn btn-primary btn-large"%>
  </p>
</div>
<%= @erg %>