<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Add page</span>
  </div>
</div>

<%= render 'form' %>

   <p>

= link_to 'Back', domains_path

^(((?<scheme>.*):\/\/)|)(?<domain>([^\/:]*\.[^\/:]*)|)(:(?<port>[0-9]*)|)(?<path>.*?)(^[\?]|)(\?(?<query>[^#]*?)|)(#(?<ancor>.*?)|)$
      </p>