<h1>New page</h1>

<%= render 'form' %>

   <p>

= link_to 'Back', domains_path

^(((?<scheme>.*):\/\/)|)(?<domain>([^\/:]*\.[^\/:]*)|)(:(?<port>[0-9]*)|)(?<path>.*?)(^[\?]|)(\?(?<query>[^#]*?)|)(#(?<ancor>.*?)|)$
      </p>