<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">Add page</span>
  </div>
</div>

<%= render 'form' %>



<%
#^(((?<scheme>.*):\/\/)|)(?<domain>([^\/:]*\.[^\/:]*)|)(:(?<port>[0-9]*)|)(?<path>.*?)(^[\?]|)(\?(?<query>[^#]*?)|)(#(?<ancor>.*?)|)$
%>