<%= render ("shared/show_notice_or_warning") %>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <span class="brand">New area</span>
  </div>
</div>
<%= render ("help") %>
<%= render 'form' %>
